@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Yellowtail&display=swap');


:root {
--color-blueDark: #274C5B;
--color-green: #7EB693;
--color-yellow: #EFD372;
--color-gray: #D4D4D4;
--color-grayLight: #F9F8F8;
--color-greenLight: #EFF6F1;
--color-dark: #524C60;


--text-size_h1: 70px;
--text-size_h2: 50px;
--text-size_h3: 40px;
--text-size_h4: 35px;
--text-size_h5: 30px;
--text-size_h6: 25px;

--text-size_quote: 20px;

--text-size: 18px;


--text_font: "Roboto", sans-serif;
}

body {
  font-family: var(--text_font);
  color: var(--color-blueDark);
}